<div class="container container--s">

  <div class="content-box">

    <div class="content-box__header">
      プロフィール更新
    </div>

    <div class="content-box__body">
      <%= render 'form' %>
    </div>

  </div>

</div>

<%= javascript_include_tag 'engineers' %>
