<div class="container container--s">

  <div class="content-box">

    <div class="content-box__header">
      エンジニア登録画面
    </div>

    <div class="content-box__body">

      <%= render 'form' %>

    </div>
    
  </div>

</div>

<%= javascript_include_tag('engineers') %>
