/*
  list item 
 */
.list-item{
  background-color: $list-item-bg-col;
  &:hover{
    background-color: darken($list-item-bg-col,10%)
  }
}

.list-item__img{
  width: 100px;
  height: 100px;
}

.list-item__link{
  @include centering();
}

/*
  popup
 */
.popup{
  background-color: $popup-bg-col;
  height: 200px;
  width: 400px;
  border: $popup-border;
  box-shadow: $popup-shadow;
  @include centering();
}

.hidden{
  display: none;
}
