.list-item{
  background-color: $list-item-bg-col;
  &:hover{
    background-color: darken($list-item-bg-col,10%)
  }
}

.list-item__img{
  width: 100px;
  height: 100px;
}

.list-item__link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
