/* 
  common
 */
$theme-col: #3498DB;
$accent-col: #fba848;
$accent-col-2: #f27398;
$accent-col-3: #22C7AD;
$cushion-col: #363947;
$base-col: #f2f2f2;
$base-col-2: #FBFBFB; 
$base-col-3: white;
$base-col-4: #b3bdc7;
$medium-col: #2980B9;
$font-size: 14px;
$font-col: #363947;
$font-col-sub: lighten($font-col,10%);

$bg-col: $base-col;
$window-size-sp: 400px;
$window-size-s: 768px;
$window-size-m: 992px;
$window-size-l: 1200px;

$normal-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);


$font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic",Verdana,"sans-serif";

/*
  flag
*/
$debug-flag: false;
$shadow-flag: false;
$shadow-dropdown-flag: false;

/*
  navbar
*/
$navbar-height: 55px;
$navbar-bg-col: $base-col-3;
$navbar-border: 2px solid $theme-col;
$navbar-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
$navbar-logo-col: $theme-col;
$navbar-padding-width: 10px;
$navbar-padding-height: 10px;
$navbar-padding: $navbar-padding-height $navbar-padding-width;
$navbar-list-col: $theme-col;
$navbar-list-height: 53px;
$navbar-list-width: 150px;
$navbar-list-bg-col: white;
$navbar-list-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.2);;

/*
  footer
*/
$footer-bg-col: $theme-col;
$footer-col: white;
$footer-border: 2px solid $theme-col;
$footer-logo-col: $theme-col;
$footer-padding-width: 10px;
$footer-padding-height: 10px;
$footer-padding: $footer-padding-height $footer-padding-width;

/*
  dropdown
 */
$dropdown-bg-col: white;
$dropdown-border-col: $cushion-col;
$dropdown-z-index: 200;
$dropdown-header-bg-col: $cushion-col;
$dropdown-border: 1px solid $dropdown-border-col;
$dropdown-list-border: 1px solid $base-col;
$dropdown-s-col: $theme-col;
$dropdown-s-border: 1px solid $dropdown-s-col;
$dropdown-item-desc-s-col: $theme-col;
$dropdown-item-desc-s-hover-col: white;
$dropdown-hover-bg-col: $theme-col;
$dropdown-hover-col: white;

$dropdown-triangle-col: $cushion-col;
$dropdown-s-triangle-col: white;
$dropdown-s-triangle-border-col: $theme-col;

/*
  triangle 
 */
$triangle-col: $cushion-col;
$triangle-s-col: $theme-col;
$triangle-s-col-2: white;

/*
  content-box 
 */ 
$content-box-header-bg-col: $base-col-3;
$content-box-list-border-bottom: 1px solid $base-col;
$content-box-list-hover-bg-col: darken($base-col-3,2%);
$comment-box-bg-col: white;
$comment-box-border-col: $accent-col;

/*
 
  input

 */
$input-text-border-col: $base-col; 
$input-border: 1px solid $base-col-4;
$input-smart-bg-col: $base-col;

$input-text-shadow: 0 0 3px 1px rgba(00,105,255,0.5);

/*

  button

*/
$btn-bg-col: $theme-col;
$btn-border: 1px solid $base-col-3;
$btn-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
$btn-col: $base-col;

$btn-smart-col: $theme-col;
$btn-smart-bg-col: white;
$btn-smart-hover-col: white;
$btn-smart-hover-bg-col: $theme-col;
$btn-disabled-bg-col: darken($base-col,20%);

/*

  button rounded

*/
$btn-r-font-size: $font-size;

$btn-r-col: $base-col-4;
$btn-r-bg-col: white;
$btn-r-bg-col-2: $base-col;

$btn-r-two-colors-border-col: darken($base-col-2,20%);
$btn-r-two-colors-border: none;

$btn-r-border: none;
$btn-r-box-shadow: $normal-shadow;

/*
  progressbar
*/
$progressbar-bg-col: $theme-col;
$progressbar-height: 10px;
$progressbar-frame-bg-col: $base-col-2;

$comment-marker-bg-col: $theme-col;
$comment-marker-border-col: darken($progressbar-bg-col,10%);

/*
  balloon
*/
$balloon-font-size: 12px;
$balloon-bg-col: white;
$balloon-border-col: $theme-col;

$balloon-z-index: 300;

/*
  cover
*/
$cover-bg-col: rgba(0,0,0,0.5);
$cover-z-index: 100;
$cover-dark-bg-col: rgba(0,0,0,0.9);

/*
  panel
*/

$panel-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);

$panel-notice-col: $base-col-3;
$panel-notice-bg-col: $accent-col-3;
$panel-notice-border: 2px solid $base-col-3;

$panel-normal-col: $font-col;
$panel-normal-bg-col: $base-col-3;
$panel-normal-border: 3px solid $theme-col;

$panel-error-col: $base-col-3;
$panel-error-bg-col: $accent-col-2;
$panel-error-border: 1px solid $base-col-3;

/*

  textarea

*/
$textarea-border: 1px solid $base-col-4;

/*
 
  label
 
 */
$label-danger-bg-col: $accent-col-2;
$label-danger-col: $base-col-3;
$label-theme-bg-col: $theme-col;
$label-theme-col: $base-col-3;
$label-normal-bg-col: $accent-col-3;
$label-font-size: $font-size - 6px;
$label-s-font-size: $font-size - 8px;

/*
 
  vertical label
 
 */
$vertical-label-bg-col: $accent-col-2;

/*
 
  circle label
 
 */
$circle-label-bg-col: $accent-col-2;

/*

  table

*/
$table-border-bottom: 1px solid $base-col;

$table-colorful-th-bg-col: $medium-col;
$table-colorful-th-col: $base-col-3;
$table-colorful-border: 1px solid $base-col;

$table-chic-col: $base-col-3;
$table-chic-bg-col: $base-col-4;

$table-s-font-size: $font-size - 2px;

/*

  fa

*/
$fa-gold-col: $accent-col;

$fa-theme-col: $theme-col;
$fa-accent-col: $accent-col;
$fa-smudge-col: darken($base-col,10%);
$fa-medium-col: $medium-col;
$fa-clean-col: $base-col-3;

/*
  list-item  
*/
$list-item-font-size: $font-size - 2px;
$list-item-img-size: 161px;
$list-item-border: 2px solid $theme-col;
$list-item-bg-col: $base-col-3;
$list-item-box-shadow: 1px 0 1px 1px rgba(0,0,0,0.2);

/*
  shadow
*/
$inset-shadow:0 0 2px 2px rgba(0,0,0,0.2) inset;
$inset-shadow-l:0 0 4px 4px rgba(0,0,0,0.4) inset;

/*
  dashboard
*/
$dashboard-bg-col: #fafafa;

/*
  text
 */
$text-link-col: $theme-col;
$text-thin-col: darken($base-col,20%);
$text-good-col: $accent-col-3;
$text-error-col: $accent-col-2;
$text-small-col: darken($base-col,20%);

$text-xs-font-size: $font-size - 4px;

$text-bold-font-size: $font-size + 4px;

/*

  select
 
 */
$select-bg-col: $base-col-3;
$select-col: $font-col;

/*
  border
*/
$border-r-col: black;
$border-r-danger-col: $accent-col-2;
$border-r-good-col: $accent-col-3;

/*

  circle bg

*/
$circle-bg-icon-col: white;
$circle-bg-icon-bg-col: $theme-col;

/*

  popup

*/
$popup-bg-col: $base-col-3;
$popup-border: 5px solid $theme-col;
$popup-shadow: 0 2px 7px 5px rgba(0,0,0,0.2);
$popup-z-index: 10000;

/*

  profile

 */
$profile-img-border: 3px solid $base-col;
$profile-top-bg-col: rgba(0,0,0,0.2);
$profile-name-font-size: $font-size + 8px;
$profile-content-box-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.15);
$profile-navbar-border: 3px solid $base-col-3;
$profile-navbar-border-hover: 3px solid darken($bg-col,10%);
$profile-navbar-box-shadow: $profile-content-box-box-shadow;

/*

  link-text

 */
$bold-link-text-font-size: $font-size + 6px;

/*

 font-size

 */
$text-sm-font-size: $font-size - 2px;

/*
 
  pagination
 
 */
$pagination-border: 2px solid $base-col-3;
$pagination-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
$pagination-bg-col: $theme-col;
$pagination-col: $base-col-3;

/*
 
  tips

 */
$chic-bg-col: #f7f7f7;
