<div class="navbar">
  <div class="navbar__left">
    <div class="navbar__logo">
      逆求人(仮)
    </div>
  </div>
  <div class="navbar__right">
    <div class="navbar__list">
      <ul class="navbar__list">
        <li>登録</li>
        <li>ログイン</li>
        <li>お問い合わせ(企業様用)</li>
      </ul>
    </div>
  </div>
</div>
